.wrap{
  padding:.1rem;
  margin-top:-2px;
}
.goods{
  margin:.1rem;
  width:4.6rem;
  border-radius:8px;
  background-color:#fff;
  float: left;
  padding-bottom:1px;
  position: relative;
}
.goodsImg{
  width:3.86rem;
  height:3.86rem;
  display: block;
  margin:0.4rem auto 0.1rem;
}
.goodsTitle{
  width:3.86rem;
  margin:0 auto;
  font-size:.3rem;
  line-height: .5rem;
  max-height:.5rem;
  overflow: hidden;
  color:#5c5c5c;
  vertical-align:middle;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.goodsTitle span{
  vertical-align:middle;
  display:inline-block;
  width:.3rem;
  height:.3rem;
  line-height:.3rem;
  font-size:.26rem;
  border:1px solid #76b356;
  border-radius:3px;
  text-align:center;
  background-color:#fce7e2;
  margin-right:3px;
  display:none;
}
.goodsAddToCart{
  width:3.86rem;
  line-height:1rem;
  background-color:rgb(118,179,87);
  border-radius:.5rem;
  display: block;
  color:#fff;
  text-decoration: none;
  font-size:.3rem;
  text-align:center;
  margin:.2rem auto;
}
.goodsEmpty{
  background-color:#c0c2bf;
}
.goodsPrice{
  font-size:.3rem;
  width:3.86rem;
  margin:0 auto;
  color:#fe4600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}
.goodsPrice span{
  font-size:.24rem;
  color:#939393;
}

.wrap:after {
  display: block;
  content: '$';
  height: 0;
  overflow: hidden;
  clear: both;
}
